body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f1f1f1;
}

#cards-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding-top:2em;
}

.station-card {
    border: 1px solid rgb(209, 209, 209);
    background-color: white;
    padding: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .04);
    width: 20em;
}

.station-card:hover {
    transition: all 0.5s ease;
    background-color: rgb(236, 189, 102);
}

/* Code de gestion du toast */

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
  }

  #toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }